.mainNav {
  height: 60px;
  background: linear-gradient(#cc83cd, #e2bad7);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mainNav li {
  list-style: none;
}

.mainNav li a {
  text-decoration: none;
  color: white;
  font-size: 32px;
}
